
body {
    display: flex;
    flex-direction: column;
}
.borde{
    border-color:#7fc9a0 ;
}
.texto{
    color:whitesmoke ;
    font-family: 'Fredoka One', cursive;
}
.bg-navbar {
    background-color:#72d27f;
}
.jumbo-color {
    background-color: #199e54; 
    padding: 4rem 3rem;
}

.footer {
    background: rgb(34, 193, 195);
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
}
